<!DOCTYPE html>
<html>
	<head>
		<title>Sign-up!</title>
	</head>

	<body>
		<div class="buttons">
		
			<%=	render :partial => 'registration', :object => {:user => @user} %>	
			
			<%=	render :partial => 'login', :object => {:session => @session} %>	
			
		</div>
		<header>	
			<h1>Bookworm</h1>
		</header>	
			<div class="background">
				<div class="main">
					<div class="main2">
					<br>
					<div class="paragraph">Welcome to my teaching app!  This app is designed to help teachers keep track of their students' information and progress.  This app will include many features, including:</div>
						<ul>
							<li>A feature that allows teachers to scan books and get information about that book's title, author, Fountas and Pinnell level, and Lexile level.</li>
							<li>A feature that allows teachers to upload and read ebooks</li>
							<li>A feature that allows teachers to record their students while they are reading these ebooks.</li>
							<li>A feature that allows teachers to keep track of their students' reading lists</li>
						</ul>
					</div>
					<div class="main3">
						<ul>
							<li>A feature that allows teachers to keep track of past running records, all their students reading lists, notes on their students' progress</li>
						</ul>
					<div class="paragraph">All of these features are designed with the intention of allowing teachers to keep track of and to organize their students' progress</div>
					</div>
				</div>
			<div>
		</div>


	<div class="footer">
		<footer>
		</footer>
	</div>