<!DOCTYPE html>
<html>
	<head>
		<title>
			Hello
		</title>
	</head>

	<body>

			<img src="<%= asset_path('animated_worm.gif') %>" class="image"/><br>
			


		<div class="header">
	

			<%= link_to 'Log In', new_session_path, class: "circle" %> <br>

			<h1>Bookworm</h1>
	
			<%= link_to 'Sign Up', new_user_path, class: "circle" %>	
		</div>

		
	
		<h4>	
			<div class="background_image">
			<div class="main">
				


		

				<div class="main2">
				<br>
				<div>Welcome to my teaching app!  This app is designed to help teachers keep track of their students' reading progress.  This app will include many features, including:</div>
				<ul>
					<li>A feature that allows teachers to scan books and get information about that book's title, author, Fountas and Pinnell level, and Lexile level.</li>

					<li>A feature that allows teachers to upload and read ebooks</li>

					<li>A feature that allows teachers to record their students while they are reading these ebooks.</li>
					<li>A feature that allows teachers to keep track of their students' reading lists</li>
				</div>
				

				<div class="main3">
					

					<li>A feature that allows teachers to keep track of past running records, all their students reading lists, notes on their students' progress</li>

					<li>A feature that allows students to make recommendations about books, have discussions about books, and annotate text to help them study.  All comments must be screened and approved by the teacher.</li>


					<div>All of these features are designed with the intention of allowing teachers to keep track of and to organize their students' progress</div>
				</div>
			</div>
			</div>
		</h4>  
		

	<div class="footer">
		<footer>
		</footer>
	</div>