/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require simple_calendar

 *= require welcome.scss
 *= require users.scss
 *= require_self


 */
@import url('https://fonts.googleapis.com/css?family=Bellefair|Raleway');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import "bootstrap-sprockets";
@import "bootstrap";



@font-face {
  font-family: 'Bad Script';
  src: url('fonts.googleapis.com/css?family=Bad+Script');  
} 

@font-face {
	font-family: 'Raleway';
	src: url('https://fonts.googleapis.com/css?family=Raleway');
}

body {
	font-family: 'Bad Script';
	background-color: #a6b1c1;



}


.simple-calendar {
width: 100px;
margin: 40px;
padding: 20px;




  .day {
 width: 150px;
 height: 1000px;
 margin-left: -20px;
  
  }

  .wday-0 {

  }
  .wday-1 {


  }
  .wday-2 {

  }
  .wday-3 {

  }
  .wday-4 {

  }
  .wday-5 {


  }
  .wday-6 {



  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {



  }

  .has-events {}

  .calendar {
 	font-size: 30px;
 	margin-left: 400px;
 	width: 400px;

  }
  .calendar-heading {
  display: inline;
  margin-left: 400px;
  }
}




p { 
	font-family: 'Bad Script', sans-serif;
	
	text-align: left; 
	margin: 50px auto;
	}

li {
	font-family: 'Bad Script', sans-serif;
	
	text-align: left;
	margin: 20px auto;
}



h2 {
	margin-top: 50px;
	margin-left: 200px;
	max-width: 350px;
	text-align: center;
	display: inline;
	color: red;
	padding: 10px;
	background-color: #00FF99;
	border-radius: 20px;
	border-style: solid;
    border-width: 1px;
     
}






a {
	color: grey;
}

img {
	display: inline;
	margin-left: 40px;
}

.button {
	font-size: 20px;
}



.time-select {
  width: 50px;
  display: inline;
}


.image {
	
	float: left;
	width: 250px;

}



.edit {
	clear: both;
	padding: 50px;
	background-color: white;
	margin-right: 900px;
}

.picture {
	margin: 200px 200px 0px 200px;
}

.remove_field {
	font-size: 15px;
	margin-left: 50px;
	padding: 0px;
	text-align: left;
	color: white;
	margin-bottom: 100px;
	padding-bottom: 100px;
}


.input_fields_wrap {
	margin-left: 50px;
}



.btn {
	text-decoration: none;
}

.loop {
	color: red;
}

.registration {
	float: right;
	}

.margin {
	background-color: lightseagreen;
	padding-left: 50px;
	padding-right: 150px;
	margin-left: 150px;
	margin-top: 150px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right: 150px;
	border: 10px solid lavender;
	margin-bottom: 50px;

}

.table {
	padding-left: 50px;
	border: 10px solid lavender;
	margin: 50px;
}

.panel-body {
	padding: 50px;
	background-color: #1919FF;
	border-bottom: 15px solid lavender;
}

.panel-body2 {
	padding: 100px;
	background-color: #FF0066;
	border-bottom: 5px solid lavender;
}

.alert {
	background-color: white;
}

.notice {
	background-color: white;
}

.users {
	padding: 100px;
	background-color: #990099;
	color: lavender;
	margin: 100px;
	border: 2px solid lavender;
	font-size: 25px;
}
li {
list-style-type: none;
}

.light {
	background-color: #0099FF;
	opacity: 50%;
	padding: 100px;
}


.lighter {
	background-color: #D6EBFF;
	opacity: 50%;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 100px;
}

.custom {
	padding: 10;
	background-color: purple;
	color: white;
	width: 100px;
	height: 30px;
}


.title {
	text-align: center;
	padding: 100px;
	font-size: 40px;
}

.form-control {

	padding: 20px;
	float: left;
	display: inline;
	float: left;
	
	
	
	
}

.name {
	width: 150px;
}





.start {
	clear: left;
}


.meetings {
	margin-left: 50px;
	font-family: 'Bad Script';
	padding: 100px;
	background-color: #ff3385;
}


td {
	font-family: 'Raleway';
	font-size: 18px;
	padding: 20px;
}

th {
	
	font-family: 'Bad Script';
	font-size: 20px;
	padding: 20px;
}
h1 {
	border: none;

}

.schedule {
	margin-top: 100px;
	margin-left: 300px;

}

td {
	width: 50%;
	zoom: 0.8;
}

.table table-striped {
	width: 100px;
	background-color: pink;
}

tr {
	margin-left: 300px;

}

.button {
	font-weight: bold;
}

.panel-body {
	background-color:  blue;
}
